@model IEnumerable<BachelorWeb.Opgave>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oversigt over opgaver</h2>

<p>
    <input type="button" value="Create" onclick="location.href='@Url.Action("Opret opgave", "Create" )'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fag.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klasse.Navn)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Status.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fag.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Klasse.Navn)
    </td>
    <td>
        @Html.ActionLink("Ændre", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Detaljer", "Details", new { id = item.ID }) |

        @if (item.Status.ID == 2)
        {
            @Html.ActionLink("Afslut", "Afslut", new { id = item.ID })
        }

        @if (item.Status.ID == 3)
        {
            @Html.ActionLink("Resultat", "Result", new { id = item.ID })
        }

    </td>
</tr>
}

</table>
