@model IEnumerable<BachelorWeb.Opgave>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oversigt over opgaver</h2>

<p>
    <input type="button" class="btn btn-lg btn-primary" value="Opret ny opgave" onclick="location.href='@Url.Action("Create", "Opgaves" )'" />
</p>


<form action="FilterIndex" method="post">
    @Html.DropDownList("ID_Status", null, "Vælg status", htmlAttributes: new { @ID = "index_status", name = "dd_status" })
    <input type="submit" value="Submit Form" />

</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = "Status" })
            </th>
            <th>
                Opgave title
            </th>
            <th>
                Fag
            </th>
            <th>
                Klasse
            </th>
            <th>
                Afleveringsdato
            </th>

            <th>
                Muligheder
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fag.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Klasse.Navn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.ActionLink("Ændre", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.ID }) |

                    @if (item.Status.ID == 2)
                    {
                        @Html.ActionLink("Afslut", "Afslut", new { id = item.ID })
                    }

                    @if (item.Status.ID == 3)
                    {
                        @Html.ActionLink("Resultat", "Result", new { id = item.ID })
                    }

                </td>
            </tr>
        }
    </tbody>

</table>
